.SignButton{
    font-family: cursive;
    font-style: italic;
    float: right;
    border: none;
    background-color: white;
    color: limegreen;
    padding: 0% 2%;
    border-radius: 10px;
    font-size: x-large;
}

.SignButton:hover{
    cursor: pointer;
}

.SignButton:disabled{
    cursor: not-allowed;
    color: red;
}

.SignButton:focus{
    outline: none;
}

.KeyButton{
    border-radius: 5px;
    border: solid cornflowerblue;
    color: cornflowerblue;
    padding: 0.3rem;
}

.GenerateButton{
    border-radius: 5px;
    border: solid cornflowerblue;
    color: cornflowerblue;
    padding: 0.3rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.DownloadAttendance{
    border-radius: 5px;
    border: solid cornflowerblue;
    color: cornflowerblue;
    padding: 0.3rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.GenerateContainer,
.DownloadContainer,
.AddFieldContainer,
.NewSubjContainer,
.NewClassContainer,
.NewDeptContainer{
    border: solid cornflowerblue;
    color: cornflowerblue;
    padding: 0.3rem;
}

.GenerateContainerSelected,
.DownloadContainerSelected,
.AddFieldContainerSelected,
.NewSubjContainerSelected,
.NewClassContainerSelected,
.NewDeptContainerSelected{
    border: solid cornflowerblue;
    color: white;
    padding: 0.3rem;
    background-color: cornflowerblue;
}

.Attendance,
.NewDeptButton,
.NewClassButton,
.NewSubjButton{
    border-radius: 5px;
    border: solid cornflowerblue;
    color: cornflowerblue;
    padding: 0.3rem;
}

.KeyButton:hover,
.KeyButton:focus,
.GenerateButton:focus,
.GenerateButton:hover,
.Attendance:hover,
.Attendance:focus,
.DownloadAttendance:hover,
.NewDeptButton:hover,
.NewClassButton:hover,
.NewSubjButton:hover{
    outline: none;
    background-color: cornflowerblue;
    color: white;
}

@media screen and (max-width: 430px) {
    .Attendance{
        margin: 3%;
    }
}